.add-song-form {
  max-width: 500px;
  margin: 0 auto;
  padding: 10px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
}

.add-song-form h1 {
  text-align: center;
  margin-bottom: 20px;
  color: rgba(0, 110, 255, 0.947);
  font-size: 30px;
}
.add-song-form h2{
  text-align: center;
  margin-bottom: 20px;
  color: rgba(212, 0, 255, 0.747);

}

.add-song-form form {
  display: flex;
  flex-direction: column;
}

.add-song-form input[type="file"] {
  margin-bottom: 10px;
  
}

.add-song-form input[type="text"],
.add-song-form select {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 15px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.add-song-form button[type="submit"] {
  padding: 10px 20px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-song-form button[type="submit"]:hover {
  background-color: #2980b9;
}
